.navbar {
    padding: 15px;
    align-items: center;
    display: grid;
    place-content: center;
    line-height: 40px;
}

.navbar__title {
    font-size: 28px; 
    margin: 10px 0;
}

@media (min-width: 768px) {
    .navbar {
    display: flex;
    justify-content: space-between;
    }

    .navbar__title {
        font-size: 32px;
    }
 }

.navbar__btn {
    background-color: var(--purple);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 300ms ease;
}

.navbar__btn:hover {
    background-color: var(--medium-purple);
}