.userCard {
  padding: 15px;
  width: 300px;
  justify-content: space-between;
  background-color: var(--grey);
  margin: 10px auto;
  max-width: 350px;
  min-width: 280px;
  border-radius: 10px;
  gap: 20px;
  text-align: center;
}

.userCard__title {
  font-size: 20px;
  margin: 5px 0;
}

.userCard__list {
  line-height: 30px;
}

.userCard__flex2 {
  display: flex;
  gap: 25px;
  justify-content: center;
  margin: 15px 0 5px 0;
}

.userCard__btn {
  font-size: 20px;
  /* border: none; */
  border: 1px solid #111;
  background-color: transparent;
  border-radius: 10px;
  padding-top: 4px;
  cursor: pointer;
  transition: background 300ms ease;
}

.userCard__btn:hover {
  background-color: var(--medium-grey);
}

.userCard__icon {
  font-size: 20px;
  margin-right: 10px;
}

@media (min-width: 655px) {
  .userCard {
    display: flex;
    width: 340px;
    padding: 20px;
    text-align: left;
  }

  .userCard__title {
    font-size: 21px;
    margin: 5px 0;
  }

  .userCard__flex2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
  }
}

.userCard__email {
  font-size: 15px;
}
